set default=0
set timeout=3

menuentry "UEFI Hello (chainload BOOTX64.EFI)" --class efi {
    if [ -f ($root)/EFI/BOOT/BOOTX64.EFI ]; then
        chainloader ($root)/EFI/BOOT/BOOTX64.EFI
        boot
    elif [ -f ($root)/EFI/BOOT/BOOTAA64.EFI ]; then
        chainloader ($root)/EFI/BOOT/BOOTAA64.EFI
        boot
    else
        echo "No UEFI app found in EFI/BOOT"
    fi
}
